body {
  background-color: rgba(196, 150, 104, 0.2); /* Light peachy color */
  margin: 0;
  padding: 0;
  height: 100vh;
  scroll-behavior: smooth;
  overflow-y: scroll;
  /* scroll-snap-type: y mandatory; */
}

button {
  background-color: #ffcc99; /* Desert-inspired button color */
  color: white;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

button:hover {
  transform: scale(1.05); /* Slight scale effect */
  background-color: #e6b27b; /* Darker desert tone on hover */
}
